.sideDrawer {
  width: 40%;
  margin-top: 80px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  transform: translateX(-100%);
  transition: all 3s ease-out;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.sideDrawer.show {
  transform: translateX(0);
}

.sideDrawer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.sideDrawer-links > li {
  display: flex;
  align-items: center;
}

.sideDrawer-links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  padding: 1rem;
  flex: 1;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.sideDrawer-links > li > a:hover {
  color: #f06000;
}

.sideDrawer-links > li > a > span {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.sideDrawer-badge {
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0.6px;
  height: 3rem;
  background-color: #ff3f6c;
  border-radius: 50%;
  color: #fff;
}
