/* contact form */
form {
  margin-bottom: 30px;
}

label {
  font: 15px/24px "opensans-bold", sans-serif;
  margin: 5px 0;
  display: inline-block;
  float: left;
  width: 25%;
}
.formItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
input,
textarea {
  display: flex;
  padding: 5px;
  color: black;

  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 50%;
}
.input-block {
  margin-bottom: 42px;
  min-height: 55px;
}
input:focus,
textarea:focus {
  /* color: #fff;
	background-color: #; */
}

button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #0d0d0d;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin-left: 26%;
}

button.submit:hover {
  color: #0d0d0d;
  background: #fff;
}

span.required {
  color: #11abb0;
  font-size: 13px;
}
span.error {
  color: red;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.btn-center-small {
  margin-left: 35%;
  width: 30%;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.alert-center {
  display: flex;
  justify-content: center;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
