#about {
  background-color: #f4f4f4;
  height: 88vh;
  padding: 4rem 2rem 2rem 2.25rem;
  display: inline-table;
  /* max-width: 1300px; */
}
#about h3,
.contact-details-block h3 {
  display: flex;
  width: 100%;
  /* border-bottom: 3px solid #11abb0; */
  /* justify-content: center; */
  font: 18px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 8px;
  font-weight: bolder;
}
.contact-details-block h4 {
  font: 16px "opensans-bold", sans-serif;
}
.about-row {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.avatar-column {
  display: flex;
  justify-content: center;
}
.profile-image {
  /* padding-top: 2rem; */
  max-width: 200px;
  max-height: 200px;
  width: 200;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 4px 6px 2px lightgrey;
}
.contact-details-block {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.contact-details-block div:last-child {
  margin-top: 2rem;
}
.contact-details-block p {
  font-size: 16px;
  color: #838795;
  margin: 0 0 30px;
}
.description-block {
  padding-right: 3.5rem;
}
.description-block p {
  font-size: 16px;
  color: #838795;
  text-align: justify;
  line-height: 28px;
}
.description-block p:last-child {
  margin: 0 0 30px;
}
@media only screen and (max-width: 767px) {
  .profile-image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 30px;
  }
  .about-row {
    display: block;
  }
  .description-block {
    padding-right: 0rem;
  }
  .description-block p,
  .contact-details-block p {
    font-size: 14px;
    color: #838795;
    text-align: justify;
    line-height: 18px;
  }
  .contact-details-block {
    display: block;
    margin-top: 2rem;
  }
  .contact-details-block div:last-child {
    margin-top: 0.5rem;
  }
}
