.banner {
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dbd5a4, #649173); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dbd5a4,
    #649173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}
.banner-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 83%;
  margin: 0% auto;
  width: 100%;
  padding-bottom: 30px;
  height: inherit;
  padding-top: 10%;
}

.profile-image {
  /* padding-top: 2rem; */
  max-width: 200px;
  max-height: 200px;
  width: 200;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 4px 6px 2px lightgrey;
}
.banner-text h1 {
  font: 70px/1.1em "opensans-bold", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
.banner-text h3 {
  font: 18px/1.9em "librebaskerville-regular", serif;
  color: #334d50;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.banner-text h3 span,
.banner-text h3 a {
  color: #fff;
}
.banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

@media only screen and (max-width: 1024px) {
  /* header styles
   ------------------------------------------------------------------ */
  header .banner-text h1 {
    font: 60px/1.1em "opensans-bold", sans-serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
  }
}

@media only screen and (max-width: 900px) {
  .banner-text h1 {
    font: 60px/1.1em "opensans-bold", sans-serif;
    letter-spacing: -1px;
  }
  .banner-text h3 {
    font: 17px/1.9em "librebaskerville-regular", serif;
    width: 80%;
  }
  .banner-text hr {
    width: 65%;
    margin: 12px auto;
  }
}
@media only screen and (max-width: 480px) {
  .banner-text h1 {
    font: 32px/1.1em "opensans-bold", sans-serif;
    margin: 0 auto 24px auto;
  }
  .banner-text h3 {
    font: 14px/1.9em "librebaskerville-regular", sans-serif;
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  .banner-text h1 {
    font: 32px/1.1em "opensans-bold", sans-serif;
    margin: 0 auto 24px auto;
  }
  .banner-text h3 {
    font: 14px/1.9em "librebaskerville-regular", sans-serif;
    width: 90%;
  }
}
